@page
@model IndexModel
@{
	ViewData["Title"] = "Dashboard";
}

<div>
	<h3>Sympli SEO Rank Board</h3>
	@foreach (var e in Model.Data)
	{
		<ul>
			<li><span>Keyword:</span><span>@e.Keyword</span></li>
			<li><span>Company URL:</span><span>@e.CompanyUrl</span></li>
			<li><span>Google Ranks:</span><span>@string.Join(",", e.GoogleRanks)</span></li>
			<li><span>Bing Ranks:</span><span>@string.Join(",", e.BingRanks)</span></li>
		</ul>
	}
</div>
